body{
background-color: rgb(213, 205, 205);
font-size: 30px;
}
/* Fazer classes é tipo uma base com as características e você cita ela no html para usar as personalizações*/
.textoGrande {
    font-size: 60px;
}
.fundoBranco {
    background-color: whitesmoke;
}